/* Topbar fixed at the top, full width */
.topbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	background: #fffff8;
	/* border-bottom: 1px solid #ddd; */
	z-index: 1000;
	width: 87.5%;
	padding-left: 12.5%;
	max-width: 1400px;
}

/* top padding of article = h1 */
article {
	/* max topbar heihgt = tufte h1 vertical space (4 + 1.5 + 3.2 rem) */
	padding-top: 8.7rem;
}


/* create a span class with h1 properties of tufte css (so we don't use an h1 within header) */
span.h1 {
	display: inline-block;
	font-weight: 400;
	margin-top: 4rem;
	margin-bottom: 1.5rem;
	font-size: 3.2rem;
	line-height: 1;
}


/* Dark mode support */
@media (prefers-color-scheme: dark) {

	.topbar,
	.bottombar {
		background: #151515;
		border-color: #333;
	}
}



p.h2subtitle {
	font-style: italic;
	margin-top: -0.8rem;
	margin-bottom: 1.4rem;
	font-size: 1.4rem;
	display: block;
	line-height: 1;
}

/* for centering things horizontally */
.center {
	margin-left: auto;
	margin-right: 0;
}

.latex-table {
	border-collapse: collapse;
	/* no spacing between cells */
	border-spacing: 0;
	/* extra safety */
	width: 80%;


	font-size: 1rem;
	margin-bottom: 1.5rem;
	text-align: center;
	/* center all cells */
}

.latex-table th,
.latex-table td {
	padding: 0.2rem 0.4rem;
	/* reduced padding */
	text-align: center;
	/* center content */
	/* border: 0 none !important; */
	/* remove all borders */
}

.latex-table th {
	/* border-bottom: 1px solid #111; */
}